#startScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    height: 500px;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-image: url("../game-img/bg-puffy.png");
}

#canvas1 {
    font-family: 'Bungee', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 550px;
    height: 500px;
    border: 1px solid black;
}

form {
    display: flex;
    flex-flow: column nowrap;
}

#startBtn {
    cursor: pointer;
}

#scoreboard {
    margin-top: 1rem;
    display: none;
}