*{
    padding: 0;
    margin: 0;
}

body {
    background: url(https://github.com/challenges-KW/flappy-bird-game/blob/main/images/bg.png?raw=true);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    overflow: hidden;
}

#obstacle {
    width: 75px;
    height: 200px;
    background: linear-gradient(0deg, #00396c  50%, rgba(122, 58, 58, 0) 33%), linear-gradient(0deg, #B34EB2 66%, #2B4162 66%);  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    left: 300px;
    animation: obstacle 6s infinite linear;
}

@keyframes obstacle {
    0%{left:1300px}
    100%{left: -100px}
}

#obstacle2 {
    width: 75px;
    height: 500px;
    background: linear-gradient(0deg, #00396c  50%, rgba(122, 58, 58, 0) 33%), linear-gradient(0deg, #B34EB2 66%, #2B4162 66%);  
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    left: 700px;
    animation: obstacle 10s infinite linear;
}

@keyframes obstacle2 {
    0%{left:1300px}
    100%{left: -100px}
}
